.money-amount {
  display: inline-block;
  margin-left: 5px;
}

div#tarjetas\+iconos {
  margin: 0.3rem;
}
div#contenedor-tarjetapestañas-tablas\+ventasdiaymes {
  margin: 1rem;
}
a.nav-link {
  color: black;
}
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
}

@media (max-width: 992px) {
  /* Mobile L and below */
  #card-stockbajo .container {
    min-height: 400px;
  }
}
