body {
  font-family: "Roboto";
}
.titulo-ventas {
  width: 310px;
  color: #000000;
  white-space: nowrap;
  border-right: 4px solid;
  animation: typing 2s steps(500), blink 0.5s infinite step-end;
  overflow: hidden;
  transition: 0.5s;
}
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
}
.Cabecera {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.Franja {
  height: 12px;
  background-color: black;
  position: relative;
  overflow: hidden;
  margin: 15px;
}

.Franja:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: gray;
  transition: width 0.5s;
}

.Franja:hover:before {
  width: 100%;
}
/**/

/**/

.CajasTexto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.custom-input {
  width: 20px;
}
.button-container {
  display: flex;
  justify-content: center;

  margin-top: 1rem;
}

.button-container button {
  width: 100%;
}
.row {
  gap: 5px;
}

button#btn-registrarventa {
  overflow: hidden;

  height: 55px;
  background: #92d6aa;
  color: #2d2f2f;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-content: center;
  flex-wrap: nowrap;
}
button#btn-registrarventa:active {
  scale: 1.1;
  background-image: linear-gradient(160deg, #639173, #92d6aa, #639173);
  transition: 0.3s;
}
button#btn-editarventa {
  overflow: auto;

  height: 55px;
  background: #e8fd65;
  color: #2d2f2f;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  flex-direction: row-reverse;

  align-items: center;
}
button#btn-editarventa:active {
  scale: 1.1;
  background-image: linear-gradient(160deg, #afbe4a, #e8fd65, #afbe4a);
  transition: 0.3s;
}
button#btn-eliminarventa {
  height: 55px;
  background: #d0dde0;
  opacity: 85%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #2d2f2f;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row-reverse;
  overflow: hidden;
}
button#btn-eliminarventa:active {
  scale: 1.1;
  background-image: linear-gradient(160deg, #a0a9ac, #d0dde0, #a0a9ac);
  transition: 0.3s;
}
button#btn-cancelarventa {
  height: 55px;
  background: #ff8588;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #810606;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row-reverse;
  overflow: hidden;
}
button#btn-cancelarventa:active {
  scale: 1.1;
  background-image: linear-gradient(160deg, #c06263, #ff8588, #c06263);
  transition: 0.3s;
}
button#btn-generarboleta {
  height: 55px;
  background: #84d6ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  flex-direction: row-reverse;
  overflow: hidden;
}
button#btn-generarboleta:active {
  scale: 1.1;
  background-image: linear-gradient(160deg, #6baccc, #84d6ff, #6baccc);
  transition: 0.3s;
}

th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  justify-content: center;
  padding: 5px;
}
th,
td {
  width: 27px;
  height: 37px;
}
.Volver {
  border-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
button.Volver {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  background: none;
  border: none;
}
